.meat{
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .brt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #820f0d;
    color: white;
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  

.bg{background-color:#820f0d;
    padding-bottom: 40px;
}

.bg-danger{padding-bottom: 60px;}
.ev{background-color: 
    #363636;}
    .ctr{border: 2px solid white;}
    .ve{background-color: #526270;}

 